<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>POST</title>

    <!-- HOJAS DE ESTILO .CSS UBICADAS EN LA CARPETA /STATIC -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css"/>

    <!-- JAVASCRIPT UBICADO EN LA CARPETA /STATIC -->
    <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js" type="text/javascript"></script>
</head>
<body>
<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Galeria</a>
            <a class="nav-item nav-link" href="#">Post</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>
<!-- FORMULARIO -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1>NUEVO POST</h1>
        </div>
        <div class="col-12">
            <!-- FORMULARIO  BOOTSTRAP-->
            <form th:action="@{/postNewAdd}" method="post" th:object="${post}">   <!-- th:object="$(newPost)" COMO SE LLAMARA EL OBJETO QUE ENVIAREMOS AL BACK-END     -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id">Id</label>
                        <input th:field="*{id}" th:value="*{id}" id="id" type="number" class="form-control" placeholder="Identificador">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id">Descripcion</label>
                        <input th:field="*{descripcion}" th:value="*{descripcion}" id="descripcion" type="text" class="form-control" placeholder="Identificador">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id">Imagen</label>
                        <input th:field="*{urlImg}" th:value="*{urlImg}" id="urlImg" type="text" class="form-control" placeholder="Identificador">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id">Titulo</label>
                        <input th:field="*{titulo}" th:value="*{titulo}" id="titulo" type="text" class="form-control" placeholder="Identificador">
                    </div>

                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>

            </form>
            <!-- END FORMULARIO  BOOTSTRAP-->
        </div>
    </div>
</div>
<!-- END FORMULARIO -->
</body>
</html>